# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Project specific
temp/
hasil_shorts/

# FFmpeg (download separately - too large for git ~200MB)
ffmpeg-master-latest-win64-gpl/
ffmpeg.zip
*.zip

# Temporary files
*.mp4
*.wav
*.webm

# OS specific
.DS_Store
Thumbs.db
